<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TestSps</h1>
        <h2>Crear SPS de manera sencilla</h2>
        <button type="button" (click)="reset()">[*] Reset</button>
        <button type="button" (click)="agregar()" [innerHTML]="'[+] Variables (' + contador + ')'"></button>
        <input type="text" [(ngModel)]="esquema" class="xform-control" placeholder="Esquema">
        <input [(ngModel)]="tabla" class="xform-control" placeholder="Tabla">
        <input type="checkbox" [(ngModel)]="tipoSp">Select
        <!--
          <textarea (paste)="pegarVariables"></textarea>
        -->
    
        <hr>
        <div class="row">
          <div class="col-sm-8 text-left">
            <div *ngFor="let row of variables; let i = index">
              <button type="button" (click)="agregar()" [innerHTML]="'[+] Variables (' + contador + ')'"></button>
              <input [ngStyle]="{ 'background': variables[i].nombre === '' ? 'yellow' : 'white' }" type="text" [(ngModel)]="variables[i].nombre" class="xform-control" placeholder="Nombre">
              <input *ngIf="tipoDatos[variables[i].tipo].numero" [(ngModel)]="variables[i].valor" class="xform-control" placeholder="Valor Variable">
              <input *ngIf="!tipoDatos[variables[i].tipo].numero" [(ngModel)]="variables[i].valor" class="xform-control" placeholder="Valor Variable">
    
              <!-- tipo -->
              <select [(ngModel)]="variables[i].tipo" class="xform-control" placeholder="Tipo">
                <option *ngFor="let r of tipoDatos; let i = index" [value]="i">{{ r.tipo }}</option>
              </select>
    
              <!-- obligatorio -->
              <input type="checkbox" [(ngModel)]="variables[i].obligatorio"> Obligatorio
    
              <!-- join -->
              <input *ngIf="tipoDatos[variables[i].tipo].numero" type="checkbox" [(ngModel)]="variables[i].join">
              <span *ngIf="tipoDatos[variables[i].tipo].numero">Join</span>
    
    
            </div>
          </div>
    
          <div class="col-sm-4 text-left">
            <h2>Test SP</h2>
            <br>
            <div *ngIf="tipoSp">
              select * from <span [innerHTML]="esquema + '.sp_' + tabla"></span>(
            </div>
            <div *ngIf="!tipoSp">
              select * from <span [innerHTML]="esquema + '.sp_crud_' + tabla"></span>(
            </div>
            <br>
            <div *ngFor="let row of variables; let index = index">
              <span *ngIf="variables[index].nombre !== '' && tipoDatos[variables[index].tipo].numero">
                _{{ variables[index].nombre }} => {{ variables[index].valor }},
              </span>
              <span *ngIf="variables[index].nombre !== '' && !tipoDatos[variables[index].tipo].numero">
                _{{ variables[index].nombre }} => &#39;{{ variables[index].valor }}&#39;,
              </span>
            </div><br>
            
            <div *ngIf="tipoSp">
              _largo_select => 'validar-id',<br>
              _order_by => 'order',<br>
              _limit => 100,<br>
              _url_query => 'testing_sp'<br>
            </div>
            
            <div *ngIf="!tipoSp">
              _accion => 'test',<br>
              _url_query => 'testing_sp_crud'<br>
            </div>
            );<br>
            
          </div>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="col-sm-3">
          <h2><strong>Crear SP</strong></h2>
          <br>
          
          <span *ngIf="tipoSp">
            CREATE OR REPLACE FUNCTION {{ esquema }}.sp_{{ tabla }}(<br>  
            _url_query character varying,
          </span>
          <span *ngIf="!tipoSp">
            CREATE OR REPLACE FUNCTION {{ esquema }}.sp_crud_{{ tabla }}(<br>    
            _url_query character varying,
          </span>
          <br>
          
          <span *ngIf="!tipoSp">_accion character varying,</span><br>
          
          <div *ngFor="let row of variables; let index = index">
            <span *ngIf="variables[index].nombre !== ''">
              _{{ variables[index].nombre }} {{ tipoDatos[variables[index].tipo].valor_entrada }}
            </span>
            
            <span *ngIf="variables[index].nombre !== '' && !variables[index].obligatorio">
              DEFAULT NULL::{{ tipoDatos[variables[index].tipo].valor_entrada }}
            </span>
            
            <span *ngIf="variables[index].nombre !== ''">,</span>
          </div>
          <br>
          
          <span *ngIf="tipoSp">_order_by varchar DEFAULT NULL::varchar,</span><br>
          <span *ngIf="tipoSp">_limit integer DEFAULT NULL::integer,</span><br>
          <span *ngIf="tipoSp">_largo_select varchar DEFAULT NULL::varchar</span><br>
        </div>
    
        <div class="col-sm-3" *ngIf="tipoSp">
          <span>) RETURNS TABLE (</span>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <span *ngIf="variables[index].nombre !== ''">
              {{ variables[index].nombre }} {{ tipoDatos[variables[index].tipo].valor }},
            </span>
          </div>
        </div>

        <div class="col-sm-3" *ngIf="!tipoSp">
          <span>
            ) RETURNS integer <br>
            LANGUAGE plpgsql <br>
            AS $function$ <br>
            DECLARE <br>
            -- declare <br>
            flag integer; <br>
            temporal integer; <br>
            query_sql character varying; <br>
            query_sql_ins_cam character varying; <br>
            query_sql_ins_val character varying; <br>
            query_sql_upd character varying; <br>
            sep character varying; <br>
            tabla character varying; <br>
            campo_id character varying; <br>

            BEGIN <br>
            -- begin <br>
            flag:=0; <br>
            temporal:=0; <br>
            sep:=''; <br>
            query_sql:=''; <br>
            query_sql_ins_cam:=''; <br>
            query_sql_ins_val:=''; <br>
            query_sql_upd:=''; <br>
            tabla:='{{ esquema }}.{{ tabla }}'; <br>
            campo_id:='id_campo'; <br>

            -- operaciones <br>
            CASE <br>
              -- insert o update <br>
              WHEN _accion='insert' OR _accion='update' THEN <br>
                -- lista variables
          </span>
          <br>
        </div>
        
        <div class="col-sm-3" *ngIf="tipoSp">
          <span>
            ) AS $$<br> DECLARE <br>
            query_sql character varying; <br>
            query_campos character varying; <br>
            s character varying; <br>

            BEGIN <br>
            query_campos:= ' <br>
          </span>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <span *ngIf="variables[index].nombre !== ''">
              {{ tabla }}.{{ variables[index].nombre }} AS {{ variables[index].nombre }},
            </span>
          </div>
          <span> ';</span><br>
        </div>

        <div class="col-sm-3" *ngIf="tipoSp">
          <span> IF _largo_select IS NOT NULL AND _largo_select='validar-id' THEN </span><br>
          <span> query_campos:='</span>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <span *ngIf="variables[index].nombre !== ''">
              NULL::{{ tipoDatos[variables[index].tipo].valor }} AS {{ variables[index].nombre }},
            </span>
          </div>
          <br>
          <span>
            ';<br>
            _order_by:='validar'; <br>
            END IF;
          </span>
          <span>
            query_sql:=' <br>
            SELECT DISTINCT <br>
            ' || query_campos || ' <br>
            FROM {{ esquema }}.{{ tabla }} <br>
            WHERE true <br>
            ';
          </span>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="col-sm-12" *ngIf="tipoSp">
          <span>-- where</span>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <div *ngIf="variables[index].nombre !== ''">      
              
              <span *ngIf="tipoDatos[variables[index].tipo].bool == true">
                IF _{{ variables[index].nombre }} IS NOT NULL AND _{{ variables[index].nombre }} = true THEN
                query_sql := query_sql || ' AND {{ tabla }}.{{ variables[index].nombre }} = ' || _{{ variables[index].nombre }};
                END IF;
              </span>

              <span *ngIf="tipoDatos[variables[index].tipo].numero && tipoDatos[variables[index].tipo].bool == false" >
                IF _{{ variables[index].nombre }} IS NOT NULL AND _{{ variables[index].nombre }} > 0 THEN 
                query_sql := query_sql || ' AND {{ tabla }}.{{ variables[index].nombre }} = ' || _{{ variables[index].nombre }}; 
                END IF;
              </span>
              <span *ngIf="!tipoDatos[variables[index].tipo].numero && tipoDatos[variables[index].tipo].bool == false">
                IF _{{ variables[index].nombre }} IS NOT NULL AND _{{ variables[index].nombre }} != '' THEN 
                query_sql := query_sql || ' AND {{ tabla }}.{{ variables[index].nombre }} ILIKE ''' || _{{ variables[index].nombre }} || ''''; 
                END IF;
              </span>
              
            </div>
          </div>
          <br>
          <span>
            -- order_by <br>
            case <br>
              WHEN _order_by IS NOT NULL AND _order_by='validar' THEN query_sql:=query_sql|| ''; <br>
              WHEN _order_by IS NOT NULL AND _order_by='xxx' THEN query_sql:=query_sql|| ' ORDER BY '; <br>
            ELSE query_sql:=query_sql|| ' ORDER BY '; END CASE; <br>
            -- limit <br>
            IF _limit IS NOT NULL AND _limit>0 THEN query_sql:=query_sql|| ' LIMIT ' || _limit; END IF; <br>
            RETURN query <br>
            EXECUTE <br>
            query_sql || ';'; <br>
            -- END; <br>
            END; $$ stable LANGUAGE plpgsql; <br>
          </span>
        </div>
        
        <div class="col-sm-12" *ngIf="!tipoSp">
          <span>-- where</span>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <div *ngIf="variables[index].nombre !== ''">
              <div *ngIf="variables[index].join">
                <!--join-->
                <div *ngIf="tipoDatos[variables[index].tipo].numero">
                  <!--numero-->
                  <span>
                    IF _{{ variables[index].nombre }} IS NOT NULL THEN
                  </span><br>
                  <span>IF flag > 0 THEN sep := ','; else sep := ''; END IF;</span><br>
                  <span>
                    IF _{{ variables[index].nombre }} = -1 THEN
                  </span><br>
                  <span>
                    query_sql_ins_cam := query_sql_ins_cam || sep || '{{ variables[index].nombre }}';
                  </span><br>
                  <span>query_sql_ins_val := query_sql_ins_val || sep || 'null';</span><br>
                  <span>
                    query_sql_upd := query_sql_upd || sep || '{{ variables[index].nombre }} = null';
                  </span><br>
                  <span>ELSE</span><br>
                  <span>
                    query_sql_ins_cam := query_sql_ins_cam || sep || '{{ variables[index].nombre }}';
                  </span><br>
                  <span>
                    query_sql_ins_val := query_sql_ins_val || sep || _{{ variables[index].nombre }};
                  </span><br>
                  <span>
                    query_sql_upd := query_sql_upd || sep || '{{ variables[index].nombre }} = ' || _{{ variables[index].nombre }};
                  </span><br>
                  <span>END IF;</span><br>
                  <span>flag := flag + 1;</span><br>
                  <span>END IF;</span><br>
                </div>
                <div *ngIf="!tipoDatos[variables[index].tipo].numero">
                  <!--char-->
                  <!-- Agrega el código específico para el caso de tipo char aquí -->
                </div>
                <!--join-->
              </div>
              <div *ngIf="!variables[index].join">
                <!--no join-->
                <div *ngIf="tipoDatos[variables[index].tipo].numero">
                  <!--numero-->
                  <span>
                    IF _{{ variables[index].nombre }} IS NOT NULL THEN
                  </span><br>
                  <span>IF flag > 0 THEN sep := ','; else sep := ''; END IF;</span><br>
                  <span>
                    query_sql_ins_cam := query_sql_ins_cam || sep || '{{ variables[index].nombre }}';
                  </span><br>
                  <span>
                    query_sql_ins_val := query_sql_ins_val || sep || _{{ variables[index].nombre }};
                  </span><br>
                  <span>
                    query_sql_upd := query_sql_upd || sep || '{{ variables[index].nombre }} = ' || _{{ variables[index].nombre }};
                  </span><br>
                  <span>flag := flag + 1;</span><br>
                  <span>END IF;</span><br>
                </div>
                <div *ngIf="!tipoDatos[variables[index].tipo].numero">
                  <!--char-->
                  <span>
                    IF _{{ variables[index].nombre }} IS NOT NULL THEN
                  </span><br>
                  <span>IF flag > 0 THEN sep := ','; else sep := ''; END IF;</span><br>
                  <span>
                    query_sql_ins_cam := query_sql_ins_cam || sep || '{{ variables[index].nombre }}';
                  </span><br>
                  <span>
                    query_sql_ins_val := query_sql_ins_val || sep || '''' || _{{ variables[index].nombre }} || '''';
                  </span><br>
                  <span>
                    query_sql_upd := query_sql_upd || sep || '{{ variables[index].nombre }} = ''' || _{{ variables[index].nombre }} || '''';
                  </span><br>
                  <span>flag := flag + 1;</span><br>
                  <span>END IF;</span><br>
                </div>
                <!--char-->
              </div>
              <!--no join-->
            </div>
          </div>


          <span>
                -- lista variables <br>
                -- insert <br>
                IF _accion='insert' THEN <br>
                IF flag>0 THEN query_sql:=query_sql|| 'INSERT INTO ' || tabla || '(' || query_sql_ins_cam || ') VALUES (' || query_sql_ins_val || ') returning ' || campo_id; <br>
                  EXECUTE query_sql INTO temporal; <br>
                  RETURN temporal; <br>
                ELSE RETURN 0; <br>
                END IF; <br>
              -- insert <br>
              ELSE <br>
              -- update <br>
                IF _id_campo IS NOT NULL AND _id_campo>0 AND flag>0 THEN query_sql:=query_sql|| 'UPDATE ' || tabla || ' SET ' || query_sql_upd || ' WHERE ' || campo_id || ' = ' || _id_campo || ' returning ' || campo_id; <br>
                  EXECUTE query_sql INTO temporal; <br>
                  RETURN temporal; <br>
                ELSE RETURN 0; <br>
                END IF; <br>
              -- update <br>
              END IF; <br>
            -- insert o update <br>
            -- delete <br>
            WHEN _accion='delete' THEN <br> 
              IF _id_campo IS NOT NULL AND _id_campo>0 THEN query_sql:=query_sql|| 'DELETE FROM ' || tabla || ' WHERE ' || campo_id || ' = ' || _id_campo || ' returning ' || campo_id; <br>
                EXECUTE query_sql INTO temporal; <br>
                RETURN temporal; <br>
              ELSE RETURN 0; <br>
              END IF; <br>
            -- delete <br>
            ELSE RETURN 0; END CASE; <br>
            -- END; <br>
            END; $function$ <br>
            ; <br>
          </span>
        </div>

        <div class="col-sm-12">
          <h2><span>Variables Node/Express/Nest</span></h2>
          <br>
          <div *ngFor="let row of variables; let index = index">
            <div *ngIf="variables[index].nombre !== ''">
              <span [innerHTML]="'if (sqlVariables[i].hasOwnProperty(\'' + variables[index].nombre + '\')) { variablesSimbolos.push(\'_' + variables[index].nombre + ' =>$\' + c); variablesDatos.push(sqlVariables[i][\'' + variables[index].nombre + '\']); c++; }'"></span>
            </div>
          </div>
        </div>
    
        
        
      </div>
  
    </div>
  </div>
</main>